h1 {
    padding-left: 0.5em;
    margin-bottom: 0px;
    color: #f7f7f7;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
}

.featuredProjectsText > p {
    padding: 1em 3em;
}

.featuredProjectsSection {
    width: 100vw;
    background: #131b26;
}

.featuredMain {
    margin-top: 55px;
    background: #131b26;
    height: 100vh;
    min-width: 380px;
}

.featuredProjectsText {
    margin-top: 55px;
    padding: 50px 70px;
    font-weight: 600;
    color: #f7f7f7;
}

.featuredCardsSection {
    width: 100vw;
    background: #131b26;
    border-bottom: 1.5px solid #f7f7f7;
    display: flex;
    justify-content: center;
}

.featuredCards {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin-bottom: 35px;
    flex-wrap: wrap;
}

.featuredCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 350px;
    min-width: 350px;
    margin-left: 1.5em;
    margin-right: 1.5em;
    border-radius: 8px;
    margin-bottom: 35px;
    border: 0.5px solid #cc6720;
    box-shadow: 0 1px 0 rgba(30, 30, 32, 0.2) inset, 0 8px 16px rgba(0, 0, 0, 0.5);
    background-image: url(Images/binaryImg.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    transition: 0.5s;
    cursor: pointer;
}

.featuredCard:hover {
    background-image: url(Images/binaryImgInvert.jpg);
}

.featuredCardText {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    color: #f7f7f7;
    text-shadow:
		-2px -2px 0 #131b26,
		2px -2px 0 #131b26,
		-2px 2px 0 #131b26,
		2px 2px 0 #131b26;
}

.featuredHR {
    margin-bottom: 12px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(204, 103, 32, 0.85), rgba(0, 0, 0, 0));
}


@media (max-width:620px) {
    .featuredProjectsText {
        padding: 30px 20px 25px 20px
    }

    .featuredProjectsText > p {
        padding: 0.5em 1.5em;
    }
}
