/* banner picture styling */
.bannerPictureContainer {
    background-image: url(Images/berkBeach.jpg);
    background-position: 56% 50%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    padding-bottom: 15px;
    border-bottom: 1.5px solid white;
}

.bannerPictureText {
    padding-top: 175px;
    padding-left: 1.8em;
    font-size: 2.5em;
    color: white;
    letter-spacing: .1rem;
}

/* about me styling */
.aboutMeSection {
    display: flex;
    justify-content: center;
    background-color: #131b26;
    color: white;
}

.aboutMeContainer {
    display: flex;
    width: 95vw;
}

.aboutMeText {
    padding-top: 2em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 2em;
    flex-grow: 2;
    font-size: 18px;
}

.aboutMeText > p {
    padding-bottom: 1em;
}


.aboutHeadshot {
    padding-top: 4em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 4em;
    flex-grow: 1;
}

.aboutHeadshot > img {
    border: 5px solid #cc6720;
}


.wrap {
    font-weight: 400;
    font-size: 1em;
    text-justify: left;
    animation-name: blink ;
    animation-duration: .5s ;
    animation-timing-function: step-end ;
    animation-iteration-count: infinite ;
    animation-direction: alternate;
}

@keyframes blink {
   50% { border-color: rgba(0, 0, 0, 0); }
}

h1,h2 {
    font-weight: 300;
    margin: 0.4em 0;

}

h1 {
    font-size: 42px;
    font-weight: 400;
}

@media (max-width:760px) {
    .aboutHeadshot {
        width: 0px;
        display: none;
    }

}

@media (max-width:620px) {
    .bannerPictureText {
        font-size: 1.5em;
        padding-left: 1em;
    }

    .wrap {
        font-size: 1em;
    }

    .aboutMeText {
    text-align: left;
    }

}
