h1 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #cc6720;
}

p {
    margin-bottom: 30px;
    padding-left: 30px;
}

.technologyMain {
    margin-top: 52px;
    background-color: #131b26;
    color: white;
}

.technologySection {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
}

.techDetailsContainer {
    width: 50vw;
}

.subHeadings {
    font-weight: bold;
    width: 60vw;
    padding-left: 12px;
}

.content {
    margin-bottom: 30px;
    padding-left: 30px;
}

.contentSpan {
    font-size: 12px;
}

.techHR {
    margin-bottom: 12px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(204, 103, 32, 0.85), rgba(0, 0, 0, 0));
}
