h1 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #cc6720;
    text-align: left;
}

p {
    margin-bottom: 30px;
    padding-left: 30px;
}

.technologyMain {
    margin-top: 52px;
    background-color: #131b26;
    color: #f7f7f7;
    text-align: left;
}

.technologySection {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
}

.techDetailsContainer {
    width: 50vw;
}

.subHeadings {
    font-weight: bold;
    width: 60vw;
    padding-left: 12px;
    text-align: left;
}

.content {
    width: 75vw;
    margin-bottom: 30px;
    padding-left: 30px;
    text-align: left;
}

.contentSpan {
    font-size: 12px;
    color: #bababa;
}

.techHR {
    margin-bottom: 12px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(204, 103, 32, 0.85), rgba(0, 0, 0, 0));
}


@media (max-width:620px) {
    .technologySection {
        padding: 30px 20px 25px 20px
    }

    .featuredProjectsText > p {
        padding: 0.5em 1.5em;
    }
}
